# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development
*.sqlite3
media/
static/
!*/migrations/__init__.py
